* {
  padding: 0;
  margin: 0;
}
svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: block;
  background-color: #0e4166;
  background-image: linear-gradient(to bottom, rgba(14, 65, 102, 0.86), #0e4166);
}
/* Estilos para el contenedor de la tabla */
.table-container {
  max-height: 700px; /* Establece una altura máxima para el contenedor */
  overflow-y: auto; /* Agrega una barra de desplazamiento vertical si el contenido de la tabla es demasiado largo */
}

/* Estilos para la tabla */
.table {
  width: 100%; /* Hace que la tabla ocupe todo el ancho disponible */
}
